name: Boundary OIDC Auth via Vault
on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  BOUNDARY_ADDR: ${{ secrets.BOUNDARY_ADDR }}

jobs:
  boundary-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Boundary
        uses: hashicorp/setup-boundary@main
        with:
          addr: ${{ secrets.BOUNDARY_ADDR }}

      - name: Import Secrets from Vault
        uses: hashicorp/vault-action@v3
        with:
          url: ${{ secrets.VAULT_ADDR }}
          role: github-actions-role
          method: jwt
          secrets: |
            secret/data/boundary/ci-credentials login_name | BOUNDARY_USER ;
            secret/data/boundary/ci-credentials password | BOUNDARY_PASSWORD ;
            secret/data/boundary/ci-credentials auth_method_id | BOUNDARY_AUTH_METHOD_ID ;
            secret/data/boundary/ci-credentials known_hosts | SSH_KNOWN_HOSTS ;
            secret/data/boundary/ci-credentials sudo_password | SUDO_PASSWORD

      - name: Copy SSH Config from Repository and Vault
        run: |
          mkdir -p ~/.ssh
          cp sshSettings/config ~/.ssh/ && chmod 600 ~/.ssh/config
          echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts

      - name: run proxmox ansible
        env:
          BOUNDARY_PASSWORD: ${{ env.BOUNDARY_PASSWORD }}
          SUDO_PASSWORD: ${{ env.SUDO_PASSWORD }}
        run: |
          export BOUNDARY_TOKEN=$(boundary authenticate password \
            -auth-method-id ${{ env.BOUNDARY_AUTH_METHOD_ID }} \
            -login-name ${{ env.BOUNDARY_USER }} \
            -password env://BOUNDARY_PASSWORD \
            -format json | jq -r '.item.attributes.token')
          
          cd proxmox
          ansible-playbook -i hosts.ini update_pve.yml -e "ansible_become_password=$SUDO_PASSWORD"
